.Bottom {
  width: 128px;
  height: 35px;
  position: absolute;
  z-index: 100;
  text-align: center;
  line-height: 35px;
  font-size: 18px;
  left: 180px;
  top: 30px;
  background-image: url("../../../../assets/button.png");
  background-size: 100% 100%;
}
.noButtom {
  display: none;
}
.Title {
  width: 140px;
  height: 28px;
  position: absolute;
  font-size: 20px;
  top: 30px;
  left: 20px;
}
.gradientBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25px;
  height: 150px;
  position: absolute;
  left: 30px;
  bottom: 10px;
  font-size: 12px;
}
.gradient {
  width: 10px;
  height: 100px;
  margin-left: 8px;
  background-image: linear-gradient(red, orange, #70d300);
}
.mapTooltip {
  width: 240px;
  height: 180px;
  padding: 46px 0 0 40px;
  background-image: url("../../../../assets/组 1@2x.png");
  background-size: 100% 100%;
  .mapTooltipTitle {
    height: 20px;
    font-size: 20px;
    font-family: Adobe Heiti Std;
    font-weight: normal;
    color: #c1f3ff;
    line-height: 33px;
    margin-bottom: 20px;
  }
  .mapTooltipTotal {
    height: 28px;
    font-size: 14px;
    line-height: 28px;
    color: #c1f3ff;
    margin-top: 10px;
  }
  .mapTooltipUnit {
    color: #ffd200;
  }
}
